@layer reset, fonts, tokens, base, layout, components, utilities, responsive, states;

@import url('./reset.css') layer(reset);
@import url('./fonts.css') layer(fonts);
@import url('./tokens.css') layer(tokens);

@layer base {

  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: start;
    justify-items: center;
    grid-template-areas:
      "header"
      "main"
      "footer";
    gap: var(--space-400);

    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: var(--fs-base);
    background: var(--gradient-surface-page);
    color: var(--clr-text-heading);
  }

  :focus-visible {
    --focus-color: var(--clr-text-heading);

    outline-color: var(--focus-color);
  }
}

@layer layout {

  .header {
    grid-area: header;
    inline-size: 100%;
  }

  .main {
    grid-area: main;
  }

  .footer {
    grid-area: footer;
  }

  .container {
    --container-gutter: calc(var(--space-400) * 2);
    --max-width: 38rem;

    inline-size: min(100% - var(--container-gutter), var(--max-width));
    margin-inline: auto;
  }
}

@layer components {

  /* HEADER */
  .header {
    --padding-top: var(--space-400);

    padding-block-start: var(--padding-top);

    img {
      inline-size: clamp(6.31rem, 26.9vw, 9.85rem);
    }
  }

  /* HERO MEDIA */
  .hero-media {
    max-block-size: 25rem;
    overflow: clip;

    img {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
    }
  }

  /* HERO */
  .hero {
    --padding-top: var(--space-800);
    --padding-bottom: var(--space-400);

    padding-block: var(--padding-top) var(--padding-bottom);
  }

  .hero__inner {
    --gap: var(--space-400);
    max-inline-size: 27.8125rem;
  }

  .hero__text {
    --gap: var(--space-200);

    align-self: center;
    text-align: center;
  }

  .hero__title {
    font-size: var(--fs-heading);
    font-weight: var(--fw-light);
    text-transform: uppercase;
    letter-spacing: .25em;
    line-height: 1.1;
    color: var(--clr-text-body);

    span {
      font-weight: var(--fw-semibold);
      color: var(--clr-text-heading);
    }
  }

  .hero__description {
    font-size: var(--fs-body);
    line-height: 2.15;
    color: var(--clr-text-body);
  }

  /* FORM */
  .form {
    --direction: row;
    --gap: var(--space-0);

    position: relative;
  }

  .form__input {
    --padding-block: calc(var(--space-200) / 3);
    --padding-left: var(--space-300);
    --padding-right: calc(var(--space-800) + var(--space-50));

    inline-size: 100%;
    padding-block: var(--padding-block);
    padding-inline-start: var(--padding-left);
    padding-inline-end: var(--padding-right);
    background-color: transparent;
    border: var(--border-input);
    border-radius: var(--radius-pill);
    line-height: 2.15;

    &::placeholder {
      color: color-mix(in srgb, var(--clr-text-body) 50%, transparent);
    }

    &[aria-invalid="true"] {
      border: var(--border-input-error);
    }
  }

  .form__icon {
    --inset-right: calc(var(--space-800) + var(--space-50));

    inline-size: 1.5rem;
    block-size: 1.5rem;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: var(--inset-right);
    translate: 0 -50%;
  }

  .form__submit {
    inline-size: clamp(4rem, 20.5%, 6.25rem);
    display: grid;
    place-items: center;
    background: var(--gradient-surface-button);
    border-radius: var(--radius-pill);
    box-shadow: var(--shadow-button);
    transform: scale(1.05);
    transition: filter var(--transition-fast);

    position: absolute;
    inset-inline-end: 0;
    inset-block: 0;
  }

  .form__message {
    --inset-left: var(--space-300);

    position: absolute;
    inset-block-end: 0;
    inset-inline-start: var(--inset-left);
    translate: 0 var(--space-400);

    font-size: var(--fs-error);
    line-height: 2.15;
    color: var(--clr-text-error);

  }

  /* ATTRIBUTION */
  .footer {
    padding-block-end: var(--space-200);
  }

  .attribution__link {
    margin-inline: .3em;
    border-radius: .25em;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset-inline-end: 0;
      inset-block-end: -0.125rem;
      inline-size: 100%;
      block-size: 0.125rem;
      background-color: currentColor;
      transform: scaleX(1);
      transform-origin: center;
      transition: transform var(--transition-fast);
      pointer-events: none;
    }
  }
}

@layer utilities {

  .visually-hidden {
    position: absolute;
    inline-size: 0.0625rem;
    block-size: 0.0625rem;
    padding: 0;
    margin: -0.0625rem;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
  }

  .stack {
    display: flex;
    flex-direction: var(--direction, column);
    align-items: var(--align, stretch);
    gap: var(--gap, 1rem);
  }
}

@layer responsive {

  /* TABLET */
  @media (width >=48rem) {
    .hero__text {
      --gap: var(--space-400);
    }

    .form__input {
      --padding-block: var(--space-100);
      --padding-left: var(--space-400);
      --padding-right: calc(var(--space-400) * 4);
    }

    .form__message {
      --inset-left: var(--space-400);
    }

    .form__icon {
      --inset-right: calc(var(--space-1000) + var(--space-300));
    }
  }

  /* DESKTOP */
  @media (width >=75rem) {
    .container {
      inline-size: auto;
    }

    body {
      grid-template-areas:
        "header media"
        "hero media"
        "footer media";
      grid-template-columns: 1fr auto;
      gap: var(--space-0);
      background: url('./../assets/images/patterns/bg-pattern-desktop.svg') left top no-repeat;
      background-size: 100% auto;
    }

    .main {
      display: contents;
    }

    .header,
    .hero {
      max-inline-size: 27.8125rem;
    }

    .header {
      --padding-top: var(--space-1000);
    }

    .hero {
      --padding-top: var(--space-1700);
    }

    .hero-media {
      grid-area: media;
      block-size: 100%;
      max-block-size: none;
    }

    .hero__text {
      text-align: left;
    }
  }
}

@layer states {

  .form__submit:is(:hover, :focus-visible) {
    filter: brightness(1.15);
  }

  .attribution__link:is(:hover, :focus-visible)::after {
    transform: scaleX(0);
  }
}